<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ProjectOxford.Emotion" version="1.0.0.1" targetFramework="net452" />
  <package id="Microsoft.ProjectOxford.Face" version="0.5.0.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" userInstalled="true" />
</packages>